.btn-record-details {
  background-color: transparent;
  color: rgb(29, 27, 27);
}
.record-datails-modal-container {
  border-radius: 12px;
  padding: 24px;
}
.loadingContainer-update-record {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100dvw;
  background-color: #ffffffa8;
  height: 100dvh;
  padding: 40dvh 30dvw;
}
